@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-bricolage: var(--font-bricolage), sans-serif;
}

body {
  font-family: var(--font-bricolage);
  @apply antialiased;
}

.body-container {
  max-width: 1300px;
  margin: 0 auto;
}
